.swiper-pagination {
  .swiper-pagination-bullet {
    margin: 0px 5px;
    width: 7.65px;
    height: 7.65px;
    background-color: #e1dbca;
    opacity: 1;
    transition: 0.25s ease-in-out;
  }

  .swiper-pagination-bullet-active {
    width: 15.29px;
    height: 15.29px;
    background-color: #483a14;
  }
}

.swiper-wrapper {
  min-height: 300px !important;
}
