.blog-cards {
  padding: 93px 0px 68px;

  &__main-title {
    margin-bottom: 30px !important;
  }

  &__card-box {
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;

    &__card {
      background: #f9f6ed;
      border-radius: 10px;

      width: 100%;

      &__primary-img {
        width: 100%;
      }

      &__text-box {
        padding: 30px 18px 20px;

        &__title {
          font-size: 20px !important;
          line-height: 23px;
          margin-bottom: 10px;
          font-weight: 700 !important;
        }

        &__desc {
          text-align: left !important;
          font-size: 16px;
          letter-spacing: 0.03em;
          color: #888888 !important;
          margin-bottom: 22px;
          line-height: 20px !important;
        }

        &__profile-box {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &__profile {
            margin-left: 20px;
            &__name {
              font-size: 14px;
              line-height: 14px;
              color: #000000;
              margin-bottom: 7px;
            }

            &__blog-info {
              font-weight: 700;
              font-size: 14px;
              letter-spacing: -0.02em;
              color: #9a9a9a;

              span {
                color: #c6b787;
              }
            }
          }
        }
      }
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &__button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 12px 20px;
      color: #483a14;
      background: #f9f6ed;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.03em;
      text-align: center;
      transition: 0.25s ease-out;
      margin: 0px 10px;

      &:hover {
        background: #483a14;
        color: #ffffff;
        transition: 0.25s ease-in;
      }
    }
  }
}

// responsive
@media (max-width: breakpoint(lg)) {
  .blog-cards {
    &__card-box {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: breakpoint(md)) {
  .blog-cards {
    padding: 17px 0px 30px;

    &__main-title {
      text-align: center !important;
      margin-bottom: 24px !important;
    }

    &__card-box {
      margin-bottom: 31px;
      grid-template-columns: 1fr;
      gap: 24px;

      &__card {
        margin: auto;
        max-width: 343px;

        &__text-box {
          padding: 28px 21px 18px;

          &__title {
            line-height: 19px !important;
          }

          &__desc {
            font-size: 14px;
            margin-bottom: 32px;
            line-height: 24px !important;
          }

          &__profile-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }

    &__btn-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      &__button {
        width: 44px;
        height: 44px;
        padding: 12.5px 15px;
        font-size: 14 px;
        line-height: 16px;
        margin-right: 10px;
      }
    }
  }
}
