.form-sec {
  padding: 100px 70px;
  background: linear-gradient(180deg, #f9f6ed 680px, #212121 100px);

  &__form-box {
    text-align: center;
    background: linear-gradient(
      143.11deg,
      #c6b787 -37.27%,
      #483a14 49.68%,
      #c6b787 142.23%
    );
    border-radius: 20px;
    max-width: 651px;
    width: 100%;
    margin: auto;
    padding: 90px 63px;
    position: relative;

    &__icon-1 {
      position: absolute;
      top: -80px;
      left: 40%;
    }

    &__icon-2 {
      display: none;
    }

    h3 {
      color: white;
      font-size: 28px;
      line-height: 33px;
    }

    form {
      margin-top: 85px;
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 127.4%;
        margin-bottom: 20px;
        color: white;
      }

      input {
        padding: 28px;
        text-align: center;
        width: 100%;
        margin-bottom: 32px;
        background: #ffffff;
        border-radius: 10px;
        outline: none;
        border: none;
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        color: #483a14;

        &::placeholder {
          text-transform: capitalize;
          background: linear-gradient(
            91.12deg,
            #483a14 -5.54%,
            #c6b787 106.05%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }

    &__text-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 47px;
      margin-top: 10px;

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #e1dbca;
        margin: 0px 10px;
      }

      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #b08fac;
      }

      .form-sec-checkbox {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        accent-color: #c6b787;
      }
    }

    &__button {
      padding: 26px 0px !important;
      width: 100%;
      font-weight: 700 !important;
      font-size: 16px !important;
      line-height: 19px !important;
      color: #ffffff;
    }
  }
}

// responsive
@media (max-width: breakpoint(md)) {
  .form-sec {
    padding: 40px 20px;
    background: linear-gradient(180deg, #f9f6ed 680px, #212121 100px);

    &__form-box {
      max-width: 343px;
      margin: auto;
      padding: 40px 10px;

      &__icon-1 {
        display: none;
      }

      &__icon-2 {
        display: block;
        position: absolute;
        top: -42px;
        left: 35%;
      }

      h3 {
        font-size: 24px;
        line-height: 28px;
      }

      form {
        margin-top: 27px;

        label {
          margin-bottom: 12px;
          font-size: 14px;
          line-height: 16px;
        }

        input {
          padding: 16px;
          margin-bottom: 41px;
        }
      }

      &__text-box {
        margin-bottom: 25px;
        margin-top: 0px;

        p {
          margin: 0px 5px;
          font-size: 14px;
          line-height: 10px;
        }

        a {
          font-size: 14px;
          line-height: 10px;
        }

        .form-sec-checkbox {
          width: 14px;
          height: 14px;
        }
      }

      &__button {
        padding: 16px 0px !important;
      }
    }
  }
}
