.logo-split {
  padding: 140px 0px 90px;
  text-align: center;

  h3 {
    margin-bottom: 10px;
  }

  &__mobile-box {
    display: none;
  }

  &__logo-box-desktop {
    margin: 100px 0px;
  }

  &__logo-box-mobile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      margin: 0px 50px 20px 0px;
    }
  }
}

// responsive
@media (max-width: breakpoint(md)) {
  .logo-split {
    padding: 54px 0px 66px;

    h3 {
      position: relative !important;
      width: 60%;
      margin: 0px auto 10px;
      &::before {
        position: absolute;
        bottom: -2px;
        right: 57%;
        content: "";
        width: 69px;
        height: 17px;
        background: #c6b787;
        z-index: -1;
      }
    }

    &__desktop-box {
      display: none;
    }

    &__mobile-box {
      display: block;
    }

    &__logo-box-mobile {
      margin: 45px 0px 0px;

      img {
        gap: 20px;
        margin: 0px auto 20px;
        padding: 40px 20px;
        border-color: white;
        box-shadow: (0px 4px 5px rgba(0, 0, 0, 0.1));
      }
    }

    a {
      display: none;
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .logo-split {
    &__logo-box-mobile {
      grid-template-columns: 1fr;
    }
  }
}
