.logo-split {
  padding: 140px 0px 90px;
  text-align: center;

  h3 {
    margin-bottom: 10px;
  }

  &__mobile-box {
    display: none;
  }

  &__logo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0px;

    img {
      margin-right: 50px;
      margin-bottom: 20px;
    }
  }
}

// responsive
@media (max-width: breakpoint(md)) {
  .logo-split {
    padding: 54px 0px 66px;

    h3 {
      position: relative !important;
      width: 60%;
      margin: 0px auto 10px;
      &::before {
        position: absolute;
        bottom: -2px;
        right: 57%;
        content: "";
        width: 69px;
        height: 17px;
        background: #c6b787;
        z-index: -1;
      }
    }

    &__desktop-box {
      display: none;
    }

    &__mobile-box {
      display: block;
    }

    &__logo-box {
      margin: 45px 0px 0px;
      justify-content: flex-start;

      img {
        margin-right: 12px;
        padding: 40px 20px;
        border-color: white;
        box-shadow: (0px 4px 5px rgba(0, 0, 0, 0.1));
      }
    }

    a {
      display: none;
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .logo-split {
    &__logo-box {
      justify-content: center;
    }
  }
}
